/* mainContainer*/
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* splash screen */
.splash-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #f4a261;
    background-color: #fff1e6;
    width: 100%;
    height: 500px;
}

.start-game-info {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #264653;
}

.start-game-info-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.start-game-info-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-game-info ul {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.start-button {
    margin: 30px;
    background-color: #F02B45;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.5s;
}

.start-button:hover {
    background-color: #fff;
    color: #F02B45;
    border: 1px solid #F02B45;
    transform: scale(1.1);
}

/* game screen */
canvas {
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    margin: 0 auto;
}

/* game over loss screen*/
.game-over-loss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #f4a261;
    width: 100%;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.play-again-button {
    background-color: #F02B45;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.5s;
}

.play-again-button:hover {
    background-color: #fff;
    color: #F02B45;
    border: 1px solid #F02B45;
    /* transform: scale(1.1); */
}

/* game over win screen*/
.game-over-win {
    position: absolute;
    /* left: ; */
}