/* mainContainer*/
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* splash screen */
.splash-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #f4a261;
    background-color: #fff1e6;
    width: 100%;
    height: 500px;
}

.start-game-info {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #264653;
}

.start-game-info-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-game-info-goal img {
    margin-bottom: -20px;
}

.start-game-info-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.start-game-info-buttons {
    margin-top: 15px;
}

.start-game-info-difficulty-levels button {
    background-color: #fff;
    color: #41788E;
    border: 1px solid #7EAE9D;
    padding: 10px 20px;
    border-radius: 3px;
    transition: all 0.5s;
}

.start-game-info-difficulty-levels button:hover {
    background-color: #7EAE9D;
    color: #fff;
    border: 1px solid #41788E;
    transform: scale(1.01);
}

.start-game-info-difficulty-levels button:focus {
    background-color: #7EAE9D;
    color: #fff;
    border: 1px solid #41788E;
}

.start-game-info-difficulty-levels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.start-game-info ul {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.start-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F02B45;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 3px;
    transition: all 0.5s;
}

.start-button:hover {
    background-color: #fff;
    color: #F02B45;
    border: 1px solid #F02B45;
    transform: scale(1.1);
}

/* game screen */
canvas {
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    margin: 0 auto;
}

/* game over loss screen*/
.game-over-loss {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 2px solid #f4a261;
    width: 700px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.play-again-button-loss {
    background-color: #F02B45;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.5s;
    margin-bottom: 150px;
}

.play-again-button-loss:hover {
    background-color: #fff;
    color: #F02B45;
    border: 1px solid #F02B45;
    /* transform: scale(1.1); */
}

/* game over win screen*/
.game-over-win {
    position: absolute;
    /* left: ; */
}

.game-over-win p {
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-top: -150px; */
    /* padding-bottom: 235px; */
}

.play-again-button-win {
    position: absolute;
    left: 45%;
    top: 65%;
    background-color: #264653;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.5s;
    margin-top: 0px;
}

.play-again-button-win:hover {
    background-color: #fff;
    color: #264653;
    border: 1px solid #264653;
    /* transform: scale(1.1); */
}